/* Color Styles  */
:root {
  --dots-brand-yellow: #F8EA0EFF;
  --dots-brand-red: #FB1515FF;
  --dots-brand-blue-electric: #2F3190FF;
  --dots-brand-neon-color: linear-gradient(90deg, 0.1706144423224032% rgba(62, 68, 134, 1), 52.127617597579956% rgba(236, 226, 112, 1), 99.37495589256287% rgba(183, 63, 64, 1));
  --button-midnight-black: linear-gradient(90deg, 0% rgba(35, 37, 38, 1), 100% rgba(67, 67, 67, 1));
  --button-hover: #434343FF;
  --neutral-ink: #232526FF;
  --neutral-smoke-white: #FAFAFAFF;
  --accent-soft-blue: #EEEEF9FF;
}

.typography--color-brand-yellow{
  color: var(--dots-brand-yellow);
}

.typography--color-brand-red{
  color: var(--dots-brand-red);
}

.typography--color-brand-blue-electric{
  color: var(--dots-brand-blue-electric);
}

.typography--color-brand-neon-color{
  color: var(--dots-brand-neon-color);
}

.typography--color-button-midnight-black{
  background: var(--button-midnight-black);
}

.typography--color-button-hover{
  background: var(--button-hover);
}

.typography--color-neutral-ink{
  color: var(--neutral-ink);
}

.typography--color-neutral-smoke-white{
  color: var(--neutral-smoke-white);
}

.typography--color-accent-soft-blue{
  color: var(--accent-soft-blue);
}