.sidebar-menu-container {
  @apply flex flex-col gap-3 min-w-[232px]
}

.sidebar-menu-item a{
  @apply grid grid-cols-[24px_1fr] items-center gap-4 p-3
}

.sidebar-menu-item.active{
  @apply bg-accent-soft-blue rounded-r-xl border-l-[3px] border-brand-blue-electric box-border text-brand-blue-electric
}

.page-container{
  @apply rounded-2xl border-gray-200 border-[1px] p-5
}

.pagination-wrapper{
  @apply flex flex-row items-center justify-between
}

.pagination-page-size{
  @apply flex flex-row items-center gap-[20px]
}

.pagination-navigation{
  @apply flex flex-row items-center gap-[10px]
}

.pagination-pages{
  @apply flex flex-row gap-[5px]
}

.pagination-pages button{
  @apply py-[7px] px-[12px]
}
.pagination-pages button:hover{
  @apply outline-1 outline-gray-500 rounded-xl outline
}
.pagination-pages button.active{
  @apply rounded-xl border-brand-blue-electric border-[1px]
}
.pagination-pages button.active p{
  @apply text-brand-blue-electric font-bold
}

.table-action{
  @apply flex flex-row justify-between
}

/* default style for text input element */
input[type=text],
input[type=password],
input[type=email]
{
  /* empty */
}

.input-wrapper:focus-within
{
  @apply outline-none border-[1px] border-brand-blue-electric;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 4px #DBDBEE;
}


.select-input:focus{
  @apply outline-none border-[1px] border-brand-blue-electric;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 4px #DBDBEE;
}

.input-select-multiple{
  @apply gap-[8px] border-gray-300 rounded-xl border-[1px]  w-full flex items-center;
}

.input-select-multiple:focus-within
{
  @apply outline-none border-[1px] border-brand-blue-electric;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 4px #DBDBEE;
}


input[type=text]:focus,
input[type=tel]:focus,
input[type=password]:focus,
input[type=email]:focus{
  @apply outline-none
}
textarea{
  @apply w-full border-gray-300 rounded-xl border-[1px] px-[14px] py-[10px]
}

textarea:focus{
  @apply outline-none border-[1px] border-brand-blue-electric;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 4px #DBDBEE;
}

.input-wrapper{
  @apply gap-[8px] border-gray-300 rounded-xl border-[1px] px-[14px] py-[10px] w-full flex items-center;
}

.form-3-cols{
  @apply grid grid-cols-3 gap-8;
}

.popover-content{
  min-width: var(--radix-popover-trigger-width);
  @apply rounded-xl
}

.form-add-room-wrapper{
  @apply grid grid-cols-3 gap-8;
}
.form-3-cols{
  @apply grid grid-cols-3 gap-8;
}


.upload-wrapper--default{
  @apply flex flex-col w-full h-[245px] gap-[5px] border border-dashed  border-brand-blue-electric rounded-xl items-center justify-center cursor-pointer;
}

.upload-wrapper--small{
  @apply flex flex-col h-[100px] w-[100px] gap-[5px] border border-dashed border-gray-300 bg-gray-100 rounded-xl items-center justify-center cursor-pointer;
}

.upload-icon--small{
  @apply w-10 h-10 rounded-xl flex items-center justify-center 
}
.upload-icon{
  @apply w-10 h-10 rounded-xl flex items-center justify-center  bg-brand-blue-electric mb-[5px]
}

.image-viewer{
  @apply fixed top-0 right-0  w-screen h-screen  items-center justify-center
}

.image-viewport{
  @apply z-50
}
.image-viewer-close{
  z-index: 1000;
  @apply absolute top-10 right-10 text-white h-12 w-12 bg-slate-800 rounded-full flex items-center justify-center cursor-pointer
}

.time-input{
  @apply p-2 border-gray-300 rounded-xl border-[1px] w-full items-center;
}
.time-input:focus-within{
  @apply outline-none border-[1px] border-brand-blue-electric;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 4px #DBDBEE;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #FFF;
  animation: prixClipFix 3s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}